body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100lvh;
    margin: 0;
}

body>div {
    margin: 20px 0;
}

button {
    width: 150px;
    height: 75px;
    border-radius: 50px;
    outline: 0;
    border: 0;
    position: relative;
    overflow: hidden;
    padding: 0;
}

button.day {
    box-shadow: 0px 0px 10px 5px rgb(135, 206, 235, .5);
    border: 1px solid #70c6e9;
}

button.night {
    box-shadow: 0px 0px 10px 5px rgb(29 48 102 / 50%);
    border: 1px solid #10154d;
}

body,
.i,
.io,
.day,
.night,
.io::after,
.cloud,
.star,
.icon,
button {
    transition: all .5s ease-in-out;
}

.switches-v1 .i {
    background: #FFE484;
    box-shadow: 0px 0px 10px 5px rgb(255 219 82 / .75);
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
}

.switches-v1 .io {
    width: 40px;
    height: 40px;
    background: #87CEEB;
    border-radius: 50%;
    position: absolute;
    top: -100%;
    right: -100%;
}

.switches-v1 .io::after {
    content: "";
    position: absolute;
    width: 110%;
    height: 110%;
    background: #87CEEB;
    filter: blur(2px);
    top: -20%;
    right: -20%;
    border-radius: inherit;
}

.day {
    background: #87CEEB;
}

.night {
    background: #141852;
}

.switches-v1>.day>.i {
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
}

.switches-v1>.night>.i {
    top: 50%;
    left: calc(100% - 20px);
    transform: translate(-100%, -50%);
    box-shadow: 0px 0px 10px 2px #ffe484;
    background: #FFF;
}

.switches-v1>.night>.i>.io {
    background: #141852;
    top: -20%;
    right: -20%;
    box-shadow: inset 1px -1px 10px 0px #ffe484;
}

.switches-v1>.night>.i>.io::after {
    background: #141852;
}

.fa-cloud {
    color: #E7F5FB;
}

.cloud {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.switches-v1 .night>.cloud {
    opacity: 0;
}

.cloud>.fa-cloud {
    position: absolute;
    font-size: 3.2em;
}

.cloud>.fa-cloud:nth-child(1) {
    left: -5%;
    bottom: -5%;
}

.cloud>.fa-cloud:nth-child(2) {
    left: 40%;
    bottom: -15%;
}

.cloud>.fa-cloud:nth-child(3) {
    left: 17%;
    bottom: -7%;
}

.fa-star {
    color: #FFFFFF;
}

.switches-v1 .star {
    font-size: 0.5em;
}

.switches-v1 .day>.star {
    opacity: 0;
}

.star>.fa-star {
    position: absolute;
    filter: drop-shadow(0 0 3px #ffe484);
}

.star>.fa-star:nth-child(1) {
    left: 41%;
    top: 20%;
}

.star>.fa-star:nth-child(2) {
    left: 47%;
    top: 75%;
}

.star>.fa-star:nth-child(3) {
    left: 14%;
    top: 32%;
}

.star>.fa-star:nth-child(4) {
    left: 25%;
    top: 62%;
}

.star>.fa-star:nth-child(5) {
    left: 85%;
    top: 23%;
}

.switches-v2 .icon {
    font-size: 3em;
    position: absolute;
}

.switches-v2 .fa-moon {
    color: #FFFFFF;
    right: 20px;
    filter: drop-shadow(0 0 5px #ffe484);
    top: 50%;
    transform: translate(0, -50%);
}

.switches-v2 .fa-circle {
    color: #FFE484;
    left: 20px;
    filter: drop-shadow(0 0 5px #ffdc52);
    top: 50%;
    transform: translate(0, -50%);
}

.switches-v2 .day>.fa-moon {
    top: 0;
    transform: translate(0, calc(-100% - 10px));
}

.switches-v2 .night>.fa-circle {
    bottom: 0;
    transform: translate(0, calc(100% + 10px));
}

.switches-v2 .star {
    font-size: 0.5em;
    width: 100%;
    height: 100%;
}

.switches-v2 .day>.star {
    opacity: 0;
    transform: translate(0, -60%);
}

.switches-v2 .night>.cloud {
    opacity: 0;
    transform: translate(0, 50%);
}

.switches-v2 .star>.fa-star:nth-child(5) {
    left: 85%;
    top: 33%;
}